@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* --base-clr: //#11121a; */
  --base-clr: #1F263E;
  /* border: */
  --line-clr: #42434a; 
  --hover-clr: #303750;
   /* #363a4bba; */

  --text-clr: #e6e6ef;
  --accent-clr: #50B8E4;
  --secondary-text-clr: #9a9ead;
  --third-text-clr: #393e52;
  --body-clr: #D9DDDE;
  
  --white: #fdfdfd;
  --borderColor: #C3C6CF;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
  font-size: 0.9rem;
}


body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--body-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar{

    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 4px 0.5em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow:hidden;
    text-wrap: nowrap;

   

}

#sidebar ul{
display: flex;
        flex-direction: column;
        height: 100%;
}
#sidebar ul .bottom-section{
    margin-top: auto;
}

/* Scroll bar design */

::-webkit-scrollbar{
    width: 8px;
    border-radius: 20px;
}

::-webkit-scrollbar-track{
    background: none;
}

::-webkit-scrollbar-thumb{
    background: none;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--hover-clr);
}

#sidebar.close{
    padding: 5px;
    width: 60px;
}

#sidebar ul{
    list-style: none;

}





#sidebar ul > li.active a,
#sidebar ul.submenu > li.active a,
#sidebar ul div.bottom-section > li.active a{
color: var(--accent-clr);
background-color: var(--hover-clr);
border-left: 4px solid var(--accent-clr);

svg{
    fill: var(--accent-clr);
}
}



#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    /* border-radius: 0.5em; */
    padding: 0.85em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
    border-left: 4px solid var(--base-clr);
}
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar a.sitelink,
#sidebar a.sitelink:hover{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);

}

#sidebar a span, #sidebar .dropdown-btn span{

flex-grow: 1;
}

/* #sidebar li span.labeltext{
    padding: 3em 1em;
    color: var(--text-clr);


} */

#sidebar a:hover,
#sidebar a:active,
#sidebar .dropdown-btn:active,
 #sidebar .dropdown-btn:hover{
    background-color: var(--hover-clr);
    border-left: 4px solid var(--accent-clr)
        /* padding: 5px 0.5em; */
}



#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div{
        overflow: hidden;
    }
}

#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}
.dropdown-btn svg{
    transition: 200ms ease;
}
.rotate svg:last-child{

rotate: 180deg;
}

#sidebar .sub-menu a{
    padding-left: 2em;
}

#toggle-btn{
margin-left: auto;
padding: 1em;
border: none;
border-radius: .5em;
background: none;
cursor: pointer;

svg{
    transition: rotate 150ms ease;
}
}

#toggle-btn:hover{
background-color: var(--hover-clr);
}

main{
    padding: min(30px 7%);
}

main p{
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}

.container{
    border: 1px solid var(--line-clr);
    border-radius: 1em;
 
padding: 20px;

margin: 0 0 20px 10px ;

h2, p {
     margin-top:  1em;
}


}

.page-title-container{
    padding: 20px;
    background: var(--white);
    color: var(--base-clr);
    font-size: 1.6rem;
     filter: drop-shadow(0px 3px 2px var(--borderColor));
}

/* Navigation Card with Profile */

#sidebar .navcard img.navcard-img{
 border-radius: 50%;
 width: 40px;
 height: 40px;
 margin-right: 2px;

}

#sidebar .navcard{
    display: flex;
    /* border: 1px solid #fff; */
    justify-content:center;
    align-items: center;
    border: 1px solid var(--third-text-clr);
    border-radius: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition for the hover effect */
}



#sidebar .navcard:hover{
background: var(--hover-clr);}

#sidebar .navcard{
    margin: 1em 0;

}



#sidebar .navcard-details{
    padding: 16px 16px 16px 10px;
        /* border: 1px solid #fff; */
        line-height: 1.5em;
}

#sidebar .navcard-details .navcard-position{
    font-size: 0.80em;
    color: var(--secondary-text-clr);
}

#sidebar ul li.separator{
    border-top: 1px solid var(--third-text-clr);
}


#sidebar ul > li:nth-child(2),
#sidebar ul > div.bottom-section li:nth-child(1) {
    margin: 1em 1em;
    /* border: 1px solid #fff; */
}

#sidebar ul > div.bottom-section li:nth-child(1) {
    padding-top: 0.5em;
}


/* WORKEASE CONTAINER LAYOUT SYSTEM */

.we-body-container{
   padding: 1.6em;
    background: var(--white);
    color: var(--base-clr);
    margin: 0.8em;
    border-radius: 0.65em;
    border: 1.5px solid var(--borderColor);
   
  
}

.we-body-title{
padding: 12px 0;
}